

/* * * * * * * * * * * * * * * * * *
 * header.php
 * * * * * * * * * * * * * * * * * */

header {
  padding: 16px;
  margin-top: 16px;
  background-color: rgb(52,62,103); 
  border-radius: 15px;
  font-family: arial;
}
h1 {
  font-size: 50pt; 
  font-family: Impact;
  color: lightblue;
}
nav {
  text-align: right;
}
nav a {
  color: rgb(201,90,30); 
  font-weight: bold;
}
nav a:hover {
  color: white;
  text-decoration: none;
}



/* * * * * * * * * * * * * * * * * *
 * error.php
 * * * * * * * * * * * * * * * * * */

h2 {
  color: rgb(201,90,30); 
  font-size: 37pt;
  font-family: Impact;
}



/* * * * * * * * * * * * * * * * * *
 * index.php
 * * * * * * * * * * * * * * * * * */


#ordering {
  margin-top: 8px;
  padding: 8px;
  background-color: rgb(52,62,103); 
  border-radius: 15px;
}
.cartouche {
  width: 261px;
  display: inline-block; 
  margin: 17px 34px 34px 34px; 
}
.card {
  width: 248px; 
  height: 290px; 
  background-color: #FFFFFF;
  border: 1px solid #CCCCEE;
  text-align: center;
}
.data {
  width: 248px;
  height: 60px;
  line-height: 60px; 
  overflow: hidden;
  font-size: 14pt;
}
.pict {
  height: 369px;
  padding-bottom: 17px;
  overflow: hidden;
}
.pict img {
  width: 246px; 
}



/* * * * * * * * * * * * * * * * * *
 * prestation.php
 * * * * * * * * * * * * * * * * * */

h3 {
  color: rgb(52,62,103); 
  height: 60px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table, tr, td {
  border: none !important; 
}
a {
  color: rgb(52,62,103); 
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: gray;
}

.jacket {
  width: 900px;
  margin: auto;
  border-collapse: separate;
  border-spacing: 32px;
}

.prestation {
  width: 700px;
  border-radius: 15px;
}


.info {
  vertical-align: top;
  margin-top: 0px;
}

.icons {
  text-align: center;
  margin: auto;
  width: 50px; 
  padding: 5px; 
}
.icons:hover {
  background-color:#CCCCEE; 
}
.selected {
  color: black;
}
.unselected {
  color: #ECECFB; 
}


